<div class="animals-list">
  <mat-table [dataSource]="animals" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="guardianName">
      <mat-header-cell *matHeaderCellDef> Dono </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.guardianName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="guardianPhone">
      <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.guardianPhone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="guardianAddress">
      <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.guardianAddress}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
